#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #14181c;
}

.day-box {
  background-color: #363945;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: aliceblue;
  margin: 0;
}

.day-bar {
  /*   width: 400px; */
  height: 100vh;
  background-color: rgb(36, 36, 42);
  /*   overflow-y: scroll; */
  overflow-x: hidden;
  border: solid 1px white;
}

.day-bar-item {
  border: solid 1px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.day-bar-item:hover {
  background-color: gray;
}

.home-page-container {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
