#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #14181c;
  height: 100vh;
}

.day-box {
  background-color: #363945;
  border: solid 1px rgb(40, 47, 59);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: aliceblue;
  margin: 0;
}

.day-bar {
  background-color: rgb(4, 6, 9);
  overflow-x: hidden;
  border: solid 1px rgb(40, 47, 59);
  min-height: 100vh;
}

.day-bar-item {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.day-bar-item:hover {
  background-color: rgb(40, 47, 59);
}

.home-page-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.task-container {
  width: 300px;
  min-height: 300px;
}

a {
  text-decoration: none;
}

.day-bar-panel {
  background-color: rgb(4, 6, 9);
  border: solid 2px rgb(40, 47, 59);
  width: 200px;
  margin: auto;
  border-radius: 5px;
  padding: 2px;
  min-height: 50px;
  cursor: pointer;
}

.day-bar-panel-item {
  width: 100px;
  padding: 5px;
  border-radius: 4px;
  min-height: 45px;
}

.panel-text {
  font-family: Arial, Helvetica, sans-serif;
}
